h3.card-title {
  color: rgb(43, 45, 48);
}

h3 {
  color: rgb(43, 45, 48);
}

.times {
  margin-left: 10px;
  margin-right: 10px;
}

.times img {
  align-self: center;
}

.container-times {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.times > p {
  margin-top: 0px;
}

.recipeMiniCard > h3,
.versionMiniCard > h3 {
  padding-bottom: 8px;
}

.ingContainer {
  margin-bottom: 60px;
  margin-left: 5px;
}

.ingContainer > h3 {
  margin-left: 5px;
  margin-bottom: 10px;
}

.mainBody,
.container-notes,
.container-directions,
.container-ingredients {
  margin-left: 10px;
}

.mainBody > h3 {
  margin-bottom: 10px;
}

.container-ingredients > p,
.container-notes > p,
.container-directions > p,
.mainBody > p {
  margin-left: 10px;
  padding-bottom: 3px;
  margin-top: 5px;
}

.prep-cookTime {
  margin-left: 5px;
}

.recipe-title {
  display: flex;
  flex-direction: row;
}

.recipe-title > button:first-of-type {
  margin-left: auto;
}

.recipe-title > button {
  height: 25px;
  align-self: center;
  margin-right: 3px;
}

.recipe-title > h3 {
  margin: 0 0 5px 0;
}
