.add-button {
  display: block;
  background-color: rgb(194, 194, 194);
  border: none;
  position: fixed;
  bottom: 60px;
  left: 45%;
  /* color: white; */
  color: lightgray;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-size: 2em;
}

h3.tab {
  text-align: center;
  color: rgb(43, 45, 48);
  font-size: 1.3em;
  margin-top: 0;
}

h3.versionsHeader {
  color: rgb(43, 45, 48);
  text-align: center;
}
