.container {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.tapbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

/* Main content */
/* NOT SURE WHERE TO IMPORT THIS AT THE MOMENT
#root {
  margin-bottom: 30px;
}
*/
