body {
  margin-left: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.container-cards {
  margin-top: 63px;
  margin-bottom: 59px;
}

.mainBody {
  margin-top: 70px;
}

a.active {
  border-bottom: 1px solid rgba(32, 34, 36, 0.5);
}

.container-logo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.topnav {
  padding-bottom: 3px;
  border-bottom: 0.25px solid #3d4044;
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 10px;
}

.tapbar {
  padding-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 6px;
  border-top: 0.25px solid #3d4044;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  background-color: white;
}

.nav-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.nav-link p {
  margin-top: 0px;
  align-self: center;
  padding: 0 1px 1px 1px;
}

.nav-link img {
  align-self: center;
}

.nav-link:visited,
.nav-link {
  color: rgb(32, 34, 36);
}

p.active {
  border-bottom: 1px solid rgba(32, 34, 36, 0.5);
}

.brandName {
  align-self: center;
  font-family: "Engagement", cursive;
  font-size: 40px;
  font-weight: lighter;
  margin: auto;
  color: rgb(43, 45, 48);
}

.logo {
  margin: auto;
  color: rgb(43, 45, 48);
}

h5.logo {
  padding-bottom: 15px;
}

img {
  margin-right: 3px;
  margin-left: 3px;
  max-height: 24px;
  max-width: 24px;
}

.addBtn {
  max-height: 45px !important;
  max-width: 45px !important;
}
