body {
  margin-left: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.container-cards {
  margin-left: 5px;
}

.container-logo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.topnav {
  padding-bottom: 3px;
  border-bottom: 0.25px solid #3d4044;
}

.tapbar {
  padding-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 9px;
  border-top: 0.25px solid #3d4044;
  position: fixed;
  bottom: 0;
  width: 100% !important;
  background-color: white;
}

.nav-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.nav-link p {
  margin-top: 0px;
  align-self: center;
}

.nav-link img {
  align-self: center;
}

.nav-link:visited {
  color: rgb(32, 34, 36);
}

.nav-link p:active {
  border-bottom: 3px black;
}

.brandName {
  align-self: center;
  font-family: "Engagement", cursive;
  font-size: 40px;
  font-weight: lighter;
  margin: auto;
  color: rgb(43, 45, 48);
}

.logo {
  margin: auto;
  color: rgb(43, 45, 48);
}

h5.logo {
  padding-bottom: 15px;
}

img {
  margin-right: 3px;
  margin-left: 3px;
  max-height: 24px;
  max-width: 24px;
}
